* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
}


/* En-tête */
header .container {
background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.681)100%);
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    max-width: 1500px;
}

.identité {
    text-align: center;
    line-height: 50px;
    
}

.infos-perso p {
    text-align: right;
    line-height: 30px;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.container img {
    height: auto;
    width: 8%;
    transform: translateX(50%);
    border-radius: 200px;
    border: 2px solid yellow;
    max-width: 100%;
}


/*Body global */

.profil, .formation, .compétences, .qualités, .autres-informations, .experience{
    border: 1px solid rgb(42, 42, 30);
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 60% 30%;
    
}

/* Expérience pro */


.left-part h2 {
    text-align: center;
    margin-top: 5%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
    padding-left: 20px;
    max-width: 1500px;
}


article {
    margin-top: 3%;
    width: 30%;
    padding: 100px;
    flex-wrap: wrap;
    transition: 0.2s ease-in;
    margin-bottom: 2%;
    box-shadow: 1px 5px 8px 0px #968c8c;
}

article:hover {
    transform: scale(1.01);
}

.experience h4 {   
    margin-top: 5%;
    transform: translateX(15px);
    line-height: 20px;
    text-transform: uppercase;
    flex-wrap: wrap;
}
.nom {
    display: grid;
    grid-template-columns: 70% 30%;
}

.nom img {
    margin-left: 20px;
    height: auto;
    max-width: 60%;
    margin-top: 10px;
}

.experience h5 {
    transform: translateX(15px);
    font-size: 1.1rem;
    font-weight:400;
    margin-top: 10%;
    text-transform: uppercase;
}

.experience p {
    transform: translateX(15px);
    line-height: 25px;
    width: 80%;
    margin-top: 10%;
}

aside {
    margin-top: 21%;
    transform: translateX(20%);
    margin-bottom: 0px;
    max-width: 1500px;
}

/*Aside*/

.right-part div {
    flex-wrap: wrap;
    margin-bottom: 4%;
    box-shadow: 1px 5px 8px 0px #968c8c;
}


.right-part div h2 {
    margin-left: 10px;
    margin-top: 10px;
}

.right-part div p {
    margin-right: 30px;  
    line-height: 20px;
    margin: auto;
    padding: 0;
    margin-top: 10px;
}

.compétences {
    position: relative;
}

/*Before des compétences*/
.html::before, .php::before, .ecriture::before, .dessin::before, .photoshop::before{
    margin-top: 10px;
    content: "";
    margin-left: 70%;
    border-radius: 100px;
    background: rgb(9, 9, 51);
    position: absolute; 
    height: 0.5vh;
}
.html::before {
    width: 5vw;
}
.php::before {
    width: 2.2vw;
}
.ecriture::before {
    width: 4vw;
}
.dessin::before {
    width: 6vw;
}
.photoshop::before {
    width: 1.5vw;
}

footer .container{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.681)100%);
    color: aliceblue;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 30px;
}

/*Media queries */
@media (max-width: 1050px) {
    .experience h4 {
        font-size: 1rem;
    }
    article {
        width: 40%;
    }
    
        .nom {
            display: block;
        }

        .nom img {
            margin-top: 20px;
        }
    
    .html::before, .php::before, .ecriture::before, .dessin::before, .photoshop::before {
            display: none;
    }
    .nom img{
        display: block;
    }
    .container img {
        height: 10%;
            width: 10%;
            transform: translateX(50%);
            border-radius: 200px;
            border: 2px solid yellow;
    }
}

@media (max-width: 700px ) {
    
    .identité {
        margin: 0 auto;
    }
    .container img {
        display: none;
    }
    .infos-perso {
        display: none;
    }
    article {
        margin-top: 20px;
        width: 93%;
        flex-wrap: wrap;
        margin-left: -20px;
       
    }
    .nom img {
        display: none;
    }
    article:hover {
        transform: none;
    }
    .left-part {
        transform: translateX(5%);
        margin-bottom: 20px;
    }
    
    .right-part {
        width: 90%;
        margin: 0 auto;
        
    }
    main {
        display: block;
    }
    
}





